<!DOCTYPE html>
<html lang"en">
    <head>
		<meta charse"UTF-8">
		<title>Hello MERN Stack</title>
    </head>
    <body>
        <h2>Hello World!!!</h2>
		<%= Math.random() %>
		<%- content %>
    </body>
</html>